.gameCard {
  transition: transform 0.3s ease, box-shadow 0.3s ease !important;
  position: relative;
}

.gameCard:hover {
  transform: scale(1.05) !important;
  z-index: 10 !important;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3) !important;
}
